html, body {
    background-color: #fff;
    color: #e36951;
}

h1 {
    text-align: center;
}

.game-area {
    width: 75%;
    min-height: 50vh;
    margin: 0 auto;
    text-align: center;
}

.game-messages {
    border: 3px solid #e36951;
}

.moves {
    
    
    font-weight: bold;
}

.btns {
    display: inline;
}

.btn {
    background-color: #f7e6be;
    color: #e36951;
    border:1px solid #e36951;
    
    height: 30px;
}

.player {
    background-color: #f7e6be;
    border:5px solid #e36951;
    padding: 5px;
    float: left;
    width: 35%;
    height: 300px;
    
    
}

.computer {
    background-color: #f7e6be;
    border:5px solid #e36951;
    padding: 5px;
    float: right;
    width: 35%;
    height: 300px;
   
}

img {
    width:  100%;
    height: 100%;
    object-fit: contain;
}

.htp {
    clear: both;
    position: relative;
    
}

.htp button {
    margin: 0 auto;
    justify-content: center;
}