@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');

/* Body and header */
html,
body {
    background-color: rgb(255, 248, 232);
    color: #e36951;
    display: grid;
    font-family: 'Public Sans', sans-serif;
}

header {
    text-align: center;
}

/*Game Area */
.game-area {
    width: 75%;

    height: 50vh;
    margin: 0 auto;
    text-align: center;
}

#choice-messages {
    border-bottom: 1px solid #e36951;
    width: fit-content;
    justify-content: center;
    margin: auto;
}

#game-messages {
    margin: 0 auto;
}

.moves {
    font-weight: bold;
}

/* Game buttons */
.btns {
    display: inline;
}

.btn {
    background-color: #f7e6be;
    color: #e36951;
    letter-spacing: 1px;
    font-family: 'Public Sans', sans-serif;
    border: 1px solid #e36951;
    font-weight: bold;
    margin: 5px 5px;
    height: 30px;
    box-shadow: 1px 3px #e36951;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    transform: scale(1.2);
}

/* Player info */
.player {
    background-color: #f7e6be;
    border: 5px solid #e36951;
    padding: 5px;
    float: left;
    width: 35%;
    height: 40vh;
    box-shadow: 1px 3px #e36951;
}

.computer {
    background-color: #f7e6be;
    border: 5px solid #e36951;
    padding: 5px;
    float: right;
    width: 35%;
    height: 40vh;
    box-shadow: 1px 3px #e36951;
}


.score-board {
    display: inline-block;
}

.scores {
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: 60%;
    object-fit: contain;
}

/* How to play section and button */
.htp {
    height: 30%;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    clear: both;
}

.htp-btn {
    background-color: #f7e6be;
    color: #e36951;
    border: 1px solid #e36951;
    margin: 5px 1px;
    height: 30px;
    box-shadow: 1px 3px #e36951;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
}

#htpText {
    display: none;
    border: 5px solid #e36951;
    padding: 4px;
    background-color: #f7e6be;
}

#htpText img {
    height: auto;
    max-width: 75%;
}
